@import "src/common";

.citation {
  padding: 85px 0 75px 0;
  background-color: $lightGreen;

  .swiper {
    @extend .content-width;
    display: grid;
    grid: auto auto auto/ auto 1fr auto;

    >section {
      grid-area: 2 / 2 / 3 / 3;
      width: 100%;
      padding: 20px 7% 0;

      @media (max-width: $mobileBreakpoint) {
        grid-area: 2 / 1 / 3 / 4;
      }

      :global(.swiper-pagination) {
        display: flex;
        justify-content: center;
        gap: 10px;

        :global(.swiper-pagination-bullet) {
          width: 20px;
          height: 20px;
          background-color: transparent;
          border: 3px solid $green;
          transition: background-color 0.3s ease;
          opacity: 1;

          &:global(.swiper-pagination-bullet-active) {
            background-color: $green;
          }
        }
      }
    }
  }
}