@import "src/common";

.resetPasswordAsk {
  .resetPasswordAskForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      margin-bottom: 50px;
    }

    .signinLinkGroup, .loginLinkGroup {
      text-align: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;

        &:hover {
          text-decoration: none;
        }

        svg {
          height: 15px;
          width: 15px;
          margin-right: 6px;
        }
      }
    }
  }
}