@import "src/common";

.signin {
  .signinForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      margin-bottom: 50px;
    }

    .inputCheckbox {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;

      .checkboxLink {
        display: flex;
        align-items: flex-start;

        label {
          cursor: pointer;
          font-size: 14px;
        }

        .checkbox {
          display: flex;
          flex: none;
          margin-top: 5px;
          justify-content: center;
          align-items: center;
          height: 20px;
          width: 20px;
          border: 1px solid #C9C9C9;
          border-radius: 2px;
          margin-right: 8px;
          cursor: pointer;

          svg {
            height: 14px;
            width: 14px;
          }
        }
      }


      a {
        height: 16px;
        margin-left: 4px;

        svg {
          path:nth-last-child(1) {
            fill: $green;
          }
        }
      }
    }

    .loginLinkGroup {
      text-align: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;

        &:hover {
          text-decoration: none;
        }

        svg {
          height: 15px;
          width: 15px;
          margin-right: 6px;
        }
      }
    }
  }
}