@import "/src/common";

.contact {
    background-color: $whitePastel;
    padding: 75px 0;

    .contactContainer {
        @extend .content-width;

        h1 {
            color: $green;
            text-align: center;
            margin-bottom: 50px;

            @media (max-width: $mobileBreakpoint) {
                margin-bottom: 20px;
            }
        }

        h5 {
            color: $green;
            text-align: center;

        }

        .contactForm {
            background-color: $lightGreen;
            padding: 30px;
            display: grid;
            grid: auto-flow auto / repeat(3, 1fr);
            gap: 15px 30px;

            @media (max-width: $tabletBreakpoint) {
                grid-template-columns: 1fr;
            }

            >div {
                label {
                    color: $green;
                }

                :global(.MuiInputBase-root) {
                    border: none;
                    border-radius: 0;

                }
            }

            .subject {
                grid-column: 2 / -1;

                @media (max-width: $tabletBreakpoint) {
                    grid-column: 1 / -1;
                }
            }

            input, textarea {
                background-color: white;
                border: none;
                outline: none;
                color: $green;
                font-size: 18px;

                &::placeholder {
                    color: $green;
                }
            }

            textarea {
                grid-column: 1 / -1;
                resize: vertical;
                height: 200px!important;
                font-family: "Work Sans";
                font-size: 18px;
                padding: 18.5px 14px;
            };
        }

        button {
            grid-column: 1 / -1;
        }

        .requiredText {
            margin-top: 40px;
        }
    }
}