@import 'src/common';

.header {
  position: absolute;
  z-index: 500;

  .container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;

    display: flex;
    justify-content: space-between;

    background-color: transparent;
    transition: background-color 275ms, padding-top 275ms, top 0.3s ease;
    line-height: 0;
    padding: toRem(25);

    @media (max-width: $mobileBreakpoint) {
      padding: toRem(15);
    }

    .logo {
      align-self: center;
      justify-self: start;
      width: 80px;
    }

    .menu {
      flex: 1;
      max-width: 800px;
      margin: 0 50px;
      align-self: center;
      justify-self: center;

    }

    .authActions {
      display: flex;
      flex-direction: row;
      align-items: center;

      .profileLink {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: toRem(20);
        line-height: toRem(32);
        letter-spacing: toRem(0.15);
        color: $green;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        svg {
          margin-right: 5px;
          +path {
            fill: $green;
          }
        }
      }

      .loginBtn, .logoutBtn {
        align-self: center;
        justify-self: end;
        padding: 25px;
        border: 2px solid $green;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        color: $green;
        background-color: transparent;
        font-size: 18px;

        &:hover {
          background-color: $green;
          color: white;
        }
      }

      @media (max-width: $tabletBreakpoint) {
        flex-direction: column;
        margin: 10px 1em;

        .profileLink {
          padding: 20px 0;
          width: 100%;
          border: 1px solid $green;
          justify-content: center;
          margin: 0 0 20px 0;
        }

        .logoutBtn, .loginBtn {
          display: flex;
          justify-content: center;
          background-color: $green;
          color: white;
          width: 100%;

          &:hover {
            background-color: white;
            color: $green;
          }
        }
      }
    }

    .menuMobileBurger {
      display: block;
      position: relative;

      z-index: 1;

      -webkit-user-select: none;
      user-select: none;

      grid-area: 1 / 1 / 2 / 2;
      justify-self: end;
      align-self: center;

      a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;

        &:hover {
          color: tomato;
        }
      }

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-1px, -1px);
          background: #232323;
        }

        &:checked ~ span:nth-last-child(1) {
          transform: rotate(-45deg) translate(0, -3px);
        }

        &:checked ~ span:nth-last-child(2)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked ~ ul {
          transform: none;
        }
      }

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: $green;
        border-radius: 1px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;

        &:first-child {
          transform-origin: 0 0;
        }
      }
    }

    .sideMenuMobile {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;

      background: white;
      list-style-type: none;
      transform: translate(-100%, 0);
      -webkit-font-smoothing: antialiased;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

      ul {
        margin-top: toRem(145);

        li {
          padding: 20px 0;

          a {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: toRem(20);
            line-height: toRem(32);
            letter-spacing: toRem(0.15);
            color: $green;
            text-decoration: none;
            position: relative;
          }

          a:after {
            background: none repeat scroll 0 0 $green;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
            bottom: -10px;
          }

          a:hover:after {
            width: 100%;
            left: 0;
          }
        }
      }

      .separator {
        margin: 40px 5em;
        height: 2px;
        background-color: $green;
      }
    }
  }
}
