@import "/src/common";

.blogRedirection {
  background-color: $lightGreen;
  padding: 75px 0;

  .blogRedirectionContainer {
    @extend .content-width;

    h2 {
      margin: 0 auto;
      border: 1px solid $green;
      padding: 20px min(100px, 11%);
      width: fit-content;
      color: $green;
      text-align: center;
      cursor: pointer;

      span {
        text-decoration: underline;
      }

      &:hover span {
        text-decoration: none;
      }
    }
  }

}