@import "/src/common";

.blogRedirection {
  background-color: $lightGreen;
  padding: 75px 0;

  .blogRedirectionContainer {
    @extend .content-width;
    display: flex;
    flex-direction: column;

    .blogRedirectionContent {
      margin: 0 auto;
      border: 1px solid $green;
      padding: 20px min(100px, 11%);
      width: fit-content;
      color: $green;
      text-align: center;
      cursor: pointer;

      .blogLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;

        p {
          margin-top: 6px;
          font-size: 1.25rem;
          margin-left: 4px;
        };
      }

      &:hover .blogLink {
        text-decoration: none;
      }
    }
  }

}