@import "/src/common";

.blogRedirection {
  background-color: $lightGreen;
  padding: 60px 0;

  h2 {
    margin: 0 auto;
    border: 1px solid $green;
    padding: 20px 100px;
    width: fit-content;
    color: $green;

    a {
      color: $green;

      &:hover {
        text-decoration: none;
      }
    }
  }
}