@import "src/common";

.footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  background-color: $gray;
  padding: 50px 0 100px 0;

  @media ( max-width: $mobileBreakpoint) {
    grid-template-columns: 30px 1fr 30px;
  }

  .logoGroup {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;

    @media ( max-width: $mobileBreakpoint) {
      grid-area: 1 / 2 / 2 / 3;
      justify-self: center;
      align-items: center;
    }

    svg {
      width: 80px;

      path {
        fill: white;
      }
    }

    h1 {
      font-size: 40px;
      color: white;
      font-weight: 400;

      @media ( max-width: $mobileBreakpoint) {
        font-size: 25px;
      }
    }
  }

  .menu {
    grid-area: 1 / 3 / 2 / 4;
    padding-top: 20px;
    border-top: 1px solid white;
    width: fit-content;

    @media ( max-width: $mobileBreakpoint) {
      grid-area: 2 / 2 / 3 / 3;
    }

     ul {
       list-style-type: none;
       padding-left: 0;
       padding-right: 3em;

       li {
         a {
           color: white;
           text-decoration: none;

           &:hover {
             text-decoration: underline;
           }
         }
       }
     }
  }

  .outerLinks {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid white;
    width: fit-content;
    padding-right: 3em;

    @media ( max-width: $mobileBreakpoint) {
      grid-area: 2 / 2 / 3 / 3;
      justify-self: end;
      padding-right: 0;
      padding-left: 3em;
    }

    a {
      color: white;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: $mobileBreakpoint) {
        text-align: end;
      }
    }
  }

}