@import "src/common";

.projectForm {
  .form {
    padding: 30px;
    background-color: $lightGreen;

    .formActions {

      button {
        display: flex;
        justify-content: center;
        width: 100%;
        color: $green;
        padding: 10px;
        border: 3px solid white;
        cursor: pointer;
        font-weight: bold;
        background-color: $lightGreen;
        transition: background-color 500ms, color 500ms;

        &:hover {
          color: $black;
          background-color: white;
        }

        .circularProgress {
          color: $green;
          margin-left: 15px;
        }
      }
    }
  }
}