@import "common";

@mixin h1 {
  font-size: toRem(80);
  line-height: toRem(96);
  font-family: $fontTitle;
  font-weight: 400;
  color: $green;

  @media (max-width: $tabletBreakpoint){
    font-size: toRem(64);
  }

  @media (max-width: $mobileBreakpoint){
    font-size: toRem(45);
  }
}

@mixin h2 {
  font-size: toRem(48);
  line-height: toRem(55);
  font-weight: 400;
  color: $green;

  @media (max-width: $tabletBreakpoint){
    font-size: toRem(34);
  }
}

@mixin h3 {
  font-size: toRem(34);
  line-height: toRem(43);
  font-weight: 400;
  color: $green;

  @media (max-width: $tabletBreakpoint){
    font-size: toRem(24);
    line-height: toRem(30);
  }
}

@mixin h4 {
  font-size: toRem(24);
  line-height: toRem(30);
  font-weight: 400;
  color: $green;

  @media (max-width: $tabletBreakpoint){
    font-size: toRem(16);
    line-height: toRem(20);
  }
}

@mixin h5 {
  font-size: toRem(20);
  line-height: toRem(36);
  font-weight: 400;
  color: $green;

  @media (max-width: $tabletBreakpoint){
    font-size: toRem(18);
  }

  @media (max-width: $mobileBreakpoint){
    font-size: toRem(16);
  }
}

@mixin h6 {
  font-size: toRem(18);
  line-height: toRem(24);
  font-weight: bold;
  color: $green;

  @media (max-width: $mobileBreakpoint){
    font-size: toRem(16);
  }
}