@import "src/common";

.projects {
  background-color: $whitePastel;

  .projectsContainer {
    @extend .content-width;
    display: grid;
    grid-template-columns: 150px 1fr ;
    padding: toRem(75) 0;
    position: relative;

    @media (max-width: $tabletBreakpoint) {
      grid-template-columns: 1fr;
    }

    .title {
      grid-area: 1 / 1 / 2 / 2;
      position: absolute;
      margin-top: toRem(116);
      margin-left: toRem(-395);
      color: $green;
      display: flex;
      align-items: center;
      transform: rotate(-90deg);
      transform-origin: top right;

      @media (max-width: $tabletBreakpoint) {
        position: initial;
        margin: 0 0 30px ;
        transform: initial;
        transform-origin: initial;
      }


      &::after {
        content: "";
        width: 70px;
        height: 3px;
        background-color: #095228;
        position: absolute;
        margin-left: 450px;
        margin-top: 12px;

        @media (max-width: $tabletBreakpoint) {
          display: none;
        }
      }
    }

    .swiper {
      grid-area: 1 / 2 / 2 / 3;
      overflow: hidden;
      position: relative;

      @media (max-width: $tabletBreakpoint) {
        grid-area: 2 / 1 / 3 / 2;
      }

      .projectContainer {

      }
    }

    .navEl {
      grid-area: 2/2/3/3;
      justify-self: end;
      z-index: 10;
      margin-top: 20px;

      cursor: pointer;
      font-size: 40px;
      color: $green;
      border: 2px solid $green;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      background-color: #f5f2f1b8;

      transition: background-color 0.3s ease;

      @media (max-width: $tabletBreakpoint) {
        display: none;
      }

      &.navElLeft {
        padding-right: 5px;
        margin-right: 80px;
      }

      &.navElRight {
        padding-left: 5px;
      }

      &:hover {
        background-color: $lightGreen;
      }

      &:global(.swiper-button-disabled) {
        background-color: lightgray;
        color: gray;
        border-color: gray;
      }
    }
  }

}