@import "src/common";

.projects {
  display: grid;
  grid-template-columns: 150px 1fr ;
  background-color: $whitePastel;
  padding-top: toRem(75);
  position: relative;

  .title {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    margin-top: toRem(116);
    margin-left: toRem(-395);
    color: $green;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: top right;


    &::after {
      content: "";
      width: 70px;
      height: 3px;
      background-color: #095228;
      position: absolute;
      margin-left: 350px;
      margin-top: 12px;
    }
  }

  .swiper {
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;
    .projectContainer {

    }
  }
}