# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bonni\Documents\5 - Auto-entreprise\1 - Projets\2021-03-05 Alexandre Bonnin Project\abonnin_project_front\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
